body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.col-md-8{
    margin-top: 15px;
}

.col-md-4{
    width: 33.33333%;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    padding: 20px;
    border-radius: 5px;

    max-width: 600px; /* Ajusta este valor según sea necesario */
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="email"],
input[type="password"] {
   
    width: 100%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 0.3px solid #aaa;
    display: flex;
    align-items: center;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}


.link {
    text-decoration: none;
    color: #FEA116;
    font-weight: 600;
}

a:hover {
    color: #0f172b
}

.link:hover {
    color: cadetblue;
}


@media (min-width: 768px) {
    .formulario {
        margin: auto;
        margin-top: 100px;
        border-radius: 8%;
        max-width: 540px;
    }



.imagen-formulario {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.input-contenedor input {
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-link {
    color: #007bff;
}

.formulario {
    padding: 20px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    font-size: 24px;
    font-weight: bold;
}


}